<div title="Create Calendar Event" style="min-width: 10rem;">
  <%= form_for @event, url: refinery.calendar_events_path do |f| %>

    <fieldset id="existing-calendar">
      <legend>Existing Calendar</legend>

      <div class="field">
        <%= radio_button_tag nil, nil, personal_calendars.any?, class: 'js_exist_cal_radio' %>
        <%= f.collection_select :calendar_id, personal_calendars, :id, :title, {  }, class: 'js_exist_cal_id_select', disabled: personal_calendars.empty? %>
      </div>

    </fieldset>

    <fieldset id="new-calendar">
      <legend>New Calendar</legend>

      <div class="field">
        <%= radio_button_tag nil, nil, personal_calendars.empty?, class: 'js_new_cal_radio' %>
        <%= f.text_field :new_calendar_title, class: 'js_new_cal_title_field', disabled: personal_calendars.any? %>
      </div>

      <div class="field">
        <p>
          <%= f.check_box :private %>
          <%= f.label :private, :class => 'stripped js_new_cal_private_box', disabled: personal_calendars.any? %>
        </p>
      </div>

    </fieldset>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class='field'>
      <%= f.label :from -%>
      <%= f.text_field :from, :class => 'datetime_range'  -%>
    </div>

    <div class='field'>
      <%= f.label :to -%>
      <%= f.text_field :to, :class => 'datetime_range'  -%>
    </div>

    <div class='field'>
      <%= f.label :venue_id, 'Venue' %>
      <%= f.collection_select :venue_id, @venues, :id, :name, { :include_blank => 'None' }, :class => 'chzn-select', :'data-placeholder' => 'Search Venues', :style => 'width: 300px;' %>
    </div>

    <div class='field'>
      <%= f.label :excerpt -%>
      <%= f.text_area :excerpt, :size => '65x5'  -%>
    </div>

    <p><%= f.submit 'Create Event', class: 'button round tiny' %></p>
  <% end %>
</div>
